:root {
    --light-color: #7FBCAB; 
    --medium-color: #29675B;
    --dark-color: #2C4C40;
}

body {
    background: var(--medium-color);
}

.container {
    align-items: center;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    min-height: 100px;
    min-width: 450px;
    padding: 2rem;
     width: 40%;
}

h1 {
    font-size: 4rem;
}

p {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 30px 0;
    width: 70%;
}

.input-tarefa {
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    padding: 12px;
    width: 50%;
}

.input-tarefa:focus {
    border: 2px solid var(--dark-color);
}

.btn-tarefa {
    background-color: var(--medium-color);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    float: right;
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    outline: none;   
    position: relative;
    width: 50%;
}

.btn-tarefa:hover {
    background: var(--dark-color);
}

ul {
    width: 70%;
}

li {
    align-items: center;
    background: #7FBCAB;
    border: 1px solid #939697;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 5px 10px;
}

.apagar {
    border: 1px solid #939697;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
}

.apagar:hover i {
    transform: scale(1.1);
}
